<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<h1>비밀번호 변경</h1>
<script th:inline="javascript">
    let error = [[${error}]]
    if(error){
        alert(error)
    }
</script>
<form action="/members/modify/password" method="post">
    이메일 : <input name="email"><br>
    기존 비밀번호 : <input name="password"><br>
    새 비밀번호 : <input name="newPassword1"><br>
    새 비밀번호 확인 : <input name="newPassword2"><br>
    <button>전송</button>
</form>
</body>
</html>